.navbar-container {
  margin-right: 15px;
}

body {
  background: hsla(172, 68%, 65%, 1);

  background: linear-gradient(
    90deg,
    hsla(172, 68%, 65%, 1) 0%,
    hsla(246, 37%, 63%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(172, 68%, 65%, 1) 0%,
    hsla(246, 37%, 63%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(172, 68%, 65%, 1) 0%,
    hsla(246, 37%, 63%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6BE3D3", endColorstr="#857EC4", GradientType=1 );
}

.form-container{
  margin-left: 36px;
}


.container-form{
  margin-left: 36px;
}

.nav-container{
  margin-right: 20px;
}

.badge-container{
  margin-left: -15px;
  margin-top: 2px;
}

.logo{
  margin-left: 5px;
}

.logo-home{
  margin-left: 45px;
}